$container-width: 1440px;
$container-padding-x: 40px;

$font-family-base: 'Inter', sans-serif;
$font-accent: 'Tilda Sans VF', serif;
$font-accent-2: 'Tenor Sans', serif;
$font-accent-3: 'IBM plex sans', sans-serif;
$color-light: #ffffff;
$color-dark: #0f0e0e;
$color-grey: #acacac;
$color-grey-2: #9a9a9a;
$color-accent: #ffd11a;

$color-pink: #ec6c99;
$transition-duration: 0.2s;
