@use '../../styles/helpers' as *;
@use '../../styles/variables' as *;

.services {
    padding-bottom: rem(265);
    &__titles {
        padding-bottom: rem(60);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 0;
    }
    &__subtitle {
        color: $color-grey;
        font-weight: 200;

        @include fluid-text(38, 28);
    }
    &__title {
        @include fluid-text(64, 32);
        font-weight: 800;
    }
    &__list {
        display: grid;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 25px;
        gap: rem(25);
        grid-auto-flow: dense;
        &-item {
            padding: rem(36) rem(32);
            border: 2px solid $color-light;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            flex-shrink: 0;
            margin: 0;
            &:nth-child(2),
            &:nth-child(3) {
                background-color: $color-light;
                color: $color-dark;
                span {
                    background-color: $color-dark;
                }
            }

            &:nth-child(1) {
                grid-area: 1 / 1 / 3 / 2;
                // grid-column: 1;
                // grid-row: 1;
            }
            &:nth-child(2) {
                // height: rem(245);
                // background-color: pink;

                // // align-self: ;
                // // margin-top: 45%;
            }
            &:nth-child(2) {
                grid-area: 1 / 2 / 2 / 4;
                // grid-column: 1;
                // grid-row: 2;
            }
            &:nth-child(3) {
                grid-area: 3 / 1 / 4 / 2;
                // grid-column: 3 / 6; // ОТ 3-й до конца
                // grid-row: 1;
                // height: rem(245);
            }
            &:nth-child(4) {
                grid-area: 2 / 2 / 4 / 3;

                // grid-column: 3;
                // grid-row: 2;
            }
            &:nth-child(5) {
                grid-area: 2 / 3 / 4 / 4;

                // grid-column: 5;
                // grid-row: 2;
            }
            &-dot {
                width: rem(23);
                height: rem(23);
                border-radius: 50%;
                background-color: $color-light;
                display: block;
                align-self: flex-start;
            }
            &-title {
                padding-block: rem(30);
                padding: 0;
            }
            &-description {
                font-weight: 200;
            }
        }
    }
    &__text-wrapper {
        @include fluid-text(24, 28);

        border: 1px solid red;
        display: flex;
        flex-flow: column wrap;

        justify-content: space-between;
        gap: rem(30);
    }
}
