@use '../../styles/helpers' as *;
@use '../../styles/variables' as *;

.services {
    padding-bottom: rem(270);
    &__titles {
        padding-bottom: rem(35);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 0;
    }
    &__subtitle {
        color: $color-grey-3;
        font-weight: 200;

        @include fluid-text(38, 28);
    }
    &__title {
        @include fluid-text(64, 32);
        font-weight: 800;
        text-align: right;
    }
    &__list {
        display: grid;
        grid-template-columns:
            1fr
            minmax(0, rem(60)) // gap между 1 и 2 колонкой (большой)
            1fr
            minmax(0, rem(25)) // gap между 2 и 3 колонкой (меньший)
            1fr;
        // grid-auto-rows: max-content;
        grid-auto-rows: 1fr;
        grid-row-gap: rem(25);
        overflow: hidden;
        max-height: rem(705);

        @include tablet {
            grid-template-columns: 1fr 1fr;
            max-height: none;
            grid-auto-rows: auto;
            gap: rem(25);
        }
        &-item {
            padding: rem(30);
            border: 2px solid $color-light;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            &:nth-child(2),
            &:nth-child(3) {
                background-color: $color-light;
                color: $color-dark;
                span {
                    background-color: $color-dark;
                }
            }

            &:nth-child(1) {
                grid-column: 1;
                grid-row: 1 / 3;
                // height: rem(425);

                @include tablet {
                    grid-row: 2;
                    grid-column: 1;
                }
            }

            &:nth-child(2) {
                grid-column: 3 / 6; // занимает 2 и 3 колонку
                grid-row: 1;
                min-height: rem(225);
                @include tablet {
                    grid-column: 1 / 3; /* обе колонки */
                    grid-row: 1; /* первая строка */
                }
            }

            &:nth-child(3) {
                grid-column: 1;
                grid-row: 3;
                height: rem(245);
                @include tablet {
                    grid-row: 2;
                    grid-column: 2;
                    max-height: none;
                }
            }

            &:nth-child(4) {
                grid-column: 3; // вторая колонка
                grid-row: 2 / 4;
                @include tablet {
                    grid-row: 3;
                    grid-column: 1;
                }
            }

            &:nth-child(5) {
                grid-column: 5; // третья колонка
                grid-row: 2 / 4;
                @include tablet {
                    grid-row: 3;
                    grid-column: 2;
                }
            }
            &-dot {
                width: rem(23);
                height: rem(23);
                border-radius: 50%;
                background-color: $color-light;
                display: block;
                align-self: flex-start;
            }
            &-title {
                padding-block: rem(30);
                padding: 0;
            }
            &-description {
                font-weight: 100;
            }
            @include fluid-text(45, 24);

            @include tablet-above {
                @include fluid-text(24, 24);
            }
        }
    }
    &__text-wrapper {
        display: flex;
        flex-flow: column wrap;
        line-height: rem(24);
        row-gap: rem(20);
        word-break: keep-all;

        justify-content: space-between;
    }
}
