@use '../../styles/helpers' as *;
@use '../../styles/variables' as *;

.header {
    background-color: $color-light2;
    height: rem(70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: rem(0) rem(60);
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: rem(695);
        left: 50%;
        transform: translateX(-50%);

        border-bottom: 2px solid $color-light;
    }

    &__logo {
        color: $color-dark;
        font-family: 'Cormorant Garamond';
        @include fluid-text(24, 14);
        font-style: italic;
        font-weight: 300;
    }
}
